@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --background : #121213;
    --navColor: #000000;
    --buttonColor : #429C4E;
    --descColor : #A8A8A8;
    --textColor: #FFFFFF;
    --placeHolderColor : #3A4049;
    --headerColor: #313538;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--textColor);
}