.courseMainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}
.courseHeadingDiv h5 {
    font-size: 30px;
    color: var(--textColor);
}
.courseDataDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}
.courseDataDiv h6 , p {
    color: var(--descColor);
}
.courseDataOne {
    cursor: pointer;
    background-color: var(--placeHolderColor);
    color: var(--textColor);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 200px;
}
.courseTitleDiv {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid var(--textColor);
    display: flex;
    flex-direction: row;
}
.courseTitleLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
.courseTitleLeft div {
    font-size: 20px;
    color: var(--textColor);
    text-transform: uppercase;
}
.courseTitleRight {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.courseImage {
    width: 80px;
    height: 80px;
}
.courseMetaDataDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.courseDurationDiv div {
    font-size: 15px;
    color: var(--textColor);
}
.courseDurationDiv span {
    padding-right: 10px;
}
.courseProjectDiv div {
    font-size: 15px;
    color: var(--textColor);
}
.courseProjectDiv span {
    padding-right: 10px;
}
.courseDataMainDiv {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
}